<!DOCTYPE html>
<html>
<head><title>Laptop Price Predictor</title></head>
<body>
  <h1>Laptop Price Predictor</h1>
  <form action="/predict" method="post">
    Company: <input type="text" name="company"><br>
    TypeName: <input type="text" name="typename"><br>
    Ram: <input type="number" name="ram"><br>
    Weight: <input type="text" name="weight"><br>
    Touchscreen: <select name="touchscreen"><option>Yes</option><option>No</option></select><br>
    Ips: <select name="ips"><option>Yes</option><option>No</option></select><br>
    Ppi: <input type="text" name="ppi"><br>
    Cpu brand: <input type="text" name="cpu"><br>
    HDD: <input type="number" name="hdd"><br>
    SSD: <input type="number" name="ssd"><br>
    Gpu brand: <input type="text" name="gpu"><br>
    Os: <input type="text" name="os"><br>
    <button type="submit">Predict</button>
  </form>
  <p>{{ prediction_text }}</p>
</body>
</html>
