<!DOCTYPE html>
<html>
<head>
  <title>Laptop Price Predictor</title>
</head>
<body>
  <h2>💻 Laptop Price Predictor</h2>
  <form action="/predict" method="post">
    <input name="company">
    <input name="typename">
    <input name="ram">
    <input name="weight">
    <select name="touchscreen">
        <option>Yes</option>
        <option>No</option>
    </select>
    <select name="ips">
        <option>Yes</option>
        <option>No</option>
    </select>
    <input name="ppi">
    <input name="cpu">
    <input name="hdd">
    <input name="ssd">
    <input name="gpu">
    <input name="os">
    <button type="submit">Predict</button>
</form>
  {% if prediction_text %}
    <h3>{{ prediction_text }}</h3>
  {% endif %}
</body>
</html>
